<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>INDEX</title>
</head>
<body>

<h1>Hello!</h1>
<p>We have these photos:</p>
    {{range .}}
    <img src="/public/pics/{{.}}" width="400px"/>
    {{end}}

<form method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit">
</form>

</body>
</html>